---                             
import '../styles/global.css'   
---   

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
    	<meta name="viewport" content="width=device-width" />
    	<link rel="icon" href="icons/favicon-white.svg" type="image/svg+xml" media="(prefers-color-scheme: light)">
    	<link rel="icon" href="icons/favicon-dark.svg" type="image/svg+xml" media="(prefers-color-scheme: dark)">
    	<title>Keaede Project - Let's make your next project a reality</title>
	</head>
	<body>
		<slot />
	</body>
</html>


